/* ======== */
/* PROJECTS */
/* ======== */

.hiddenImage {
  overflow: hidden;
}

.projectOpaqueBackground {
  padding: 30px 0px;
  margin: 30px 0 30px 0;
  height: 100%;
  background: linear-gradient(to right, rgba(206, 222, 232, 0), rgb(17, 7, 29)),
    linear-gradient(to bottom, rgb(191, 194, 196, 0), rgb(75, 71, 80));
  opacity: 0.8;
}

u {
  color: darkgrey;
  font-weight: bold;
}

.demo {
  color: darkgrey;
}

.repoImageWrapper {
  position: relative;
  margin: 0px 14%;
}

.repoImages {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.75);
}

.repoUrlDiv {
  font-family: "Abel", sans-serif;
  text-align: center;
  padding: 10px 0 0 0;
  margin-bottom: 5px;
}

.repoUrlLinks {
  text-decoration: none;
  -webkit-text-stroke: 0.9px white;
  color: rgb(164, 194, 187);
  border-radius: 11%;
  padding: 0 3px;
  font-size: 27px;
}

.projectIcon {
  width: 25px;
  margin-top: 2px;
}

a#noDecoration {
  text-decoration: none;
}

:root {
  --gutter: 20px;
}

.app {
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 20px repeat(4, calc(40% - var(--gutter) * 2)) 20px;
  grid-template-rows: minmax(65vh, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
}

.hs:before,
.hs:after {
  content: "";
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 2);
  display: flex;
  flex-direction: column;
  background: rgb(53, 51, 51);
  border-radius: 8px;
}

.projectsBody {
  height: calc(100vh - 48px);
  padding: 5px 0px;
  background-color: rgb(228, 210, 210);
}

.demoBody {
  color: white;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 5vw;
  line-height: 1.3;
  background-color: rgb(0, 0, 0, 0.2);
}

#paddingDivider {
  padding: 0px 5px;
  color: white;
}

.shortBio {
  font-size: 14px;
  color: white;
  -webkit-text-stroke: 0.1px black;
}

a > span:hover {
  text-decoration: none;
}

.slideInDesc {
  width: 100%;
  font-family: "Hind";
  position: absolute;
  top: 25%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  -webkit-text-stroke: black 0px;
  background-color: black;
  border: white solid 2px;
  color: white;
}

.demoNYT,
.demoSnippets {
  font-family: "Abel", sans-serif;
  padding: 0px 10px;
  text-align: center;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 1650px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 25px 0px 25px;
  }
}

@media screen and (max-width: 1350px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1305px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
  .repoImageWrapper {
    margin: 0px 20%;
  }
  .hs {
    grid-template-columns: 20px repeat(4, calc(45% - var(--gutter) * 2)) 20px;
  }
}

@media screen and (max-width: 1100px) {
  .repoImageWrapper {
    margin: 0px 13%;
  }
}

@media screen and (max-width: 1200px) and (min-height: 1000px) {
  ul.hs {
    grid-template-columns: 20px repeat(4, calc(80% - var(--gutter) * 2)) 20px;
    margin-top: 50px;
  }
  .repoImageWrapper {
    margin: 0px 7%;
  }
  .repoUrlLinks {
    font-size: 40px;
  }
  .shortBio {
    font-size: 18px;
  }
  .projectIcon {
    width: 30px;
    margin-top: 2px;
  }
}

@media screen and (max-width: 1000px) {
  .slideInDesc {
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) and (min-height: 900px) {
  ul.hs {
    grid-template-columns: 20px repeat(4, calc(80% - var(--gutter) * 2)) 20px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 960px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
  .repoImageWrapper {
    margin: 0px 7%;
  }
  .hs {
    grid-template-columns: 20px repeat(4, calc(60% - var(--gutter) * 2)) 20px;
  }
}

@media screen and (max-width: 750px) {
  .repoImageWrapper {
    margin: 0px 3%;
  }
  .hs {
    grid-template-columns: 20px repeat(4, calc(70% - var(--gutter) * 2)) 20px;
  }
}

@media screen and (max-width: 503px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
  ul.hs {
    grid-template-columns: 20px repeat(4, calc(80% - var(--gutter) * 2)) 20px;
    margin-top: 0px !important;
  }
  .projectOpaqueBackground {
    height: 90%;
  }

  li.item {
    height: 92%;
    padding: 15px;
  }
  .demoBody {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .repoUrlLinks {
    font-size: 20px;
  }
  .projectIcon {
    width: 20px;
  }
}

@media screen and (max-width: 381px) {
  img.repoImages {
    width: 100%;
  }
}
