.repoUrlLinks {
  text-decoration: none;
  -webkit-text-stroke: 0.9px white;
  color: black;
  border-radius: 11%;
  padding: 0 3px;
  font-size: 27px;
}

.repoUrlLinksHover:hover {
  color: rgb(164, 194, 187);
  text-decoration: none;
}

@media screen and (max-width: 381px) {
  img.repoImages {
    width: 100%;
  }
}
