/* ======== */
/* PROJECTS */
/* ======== */

.hiddenImage {
  overflow: hidden;
}

.projectOpaqueBackground {
  padding: 30px 0px 30px 0px;
  margin: 15px 0 0 0;
  height: 100%;
  background: linear-gradient(to right, rgba(206, 222, 232, 0), rgb(17, 7, 29)),
    linear-gradient(to bottom, rgb(191, 194, 196, 0), rgb(75, 71, 80));
  opacity: 0.8;
}

u {
  color: darkgrey;
  font-weight: bold;
}

.repoImageWrapper {
  position: relative;
  margin: 0px 12%;
}

img.repoImages {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.75);
}

.repoUrlDiv {
  text-align: center;
  padding: 10px 0 0 0;
  margin-bottom: 5px;
}

.repoUrlLinks {
  text-decoration: none;
  -webkit-text-stroke: 0.9px white;
  color: black;
  border-radius: 11%;
  padding: 0 3px;
  font-size: 27px;
}

.repoUrlLinksHover:hover {
  color: rgb(164, 194, 187);
  text-decoration: none;
}

a#noDecoration {
  text-decoration: none;
}

.projectsBody {
  height: calc(100vh - 152px);
  padding: 15px 0px 15px 0px;
  background-color: rgb(243, 243, 243);
}

#projectsBodyPad {
  padding: 0px 15px;
}

#paddingDivider {
  padding: 0px 4px;
  color: black;
}

.shortBio {
  font-size: 14px;
  color: white;
  -webkit-text-stroke: 0.1px black;
}

a > span:hover {
  text-decoration: none;
}

.slideInDesc {
  width: 100%;
  font-family: "Hind";
  position: absolute;
  top: 35%;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  -webkit-text-stroke: black 0px;
  background-color: black;
  border: white solid 2px;
  color: white;
}

.demoNYT,
.demoSnippets {
  padding: 0px 10px;
  text-align: center;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 1650px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 25px 0px 25px;
  }
}

/* @media screen and (max-width: 1599px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px px;
  }
} */

@media screen and (max-width: 1350px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 1305px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 1305px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 960px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 503px) {
  .demoNYT,
  .demoSnippets {
    padding: 0px 5px;
  }
}

@media screen and (max-width: 1000px) {
  .slideInDesc {
    font-size: 15px;
  }
}

@media screen and (max-width: 381px) {
  img.repoImages {
    width: 100%;
  }
}
