/* ===== */
/* ABOUT */
/* ===== */

.headShotImage {
  width: 500px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.groupHeaders {
  font-size: 35px;
  padding-left: 22px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: left;
  font-family: "Abel", sans-serif;
}

.demoPassLinks,
.demoPassLinks:hover {
  color: grey;
  font-weight: bold;
}

.aboutMeSet {
  margin-bottom: 6px;
}

.aboutBody {
  background-image: url("../../images/background.jpg") !important;
  width: 100%;
  height: calc(100vh - 48px);
  padding: 5px 2px;
}

.bioBackground {
  background-color: black;
  border-radius: 10px;
  padding: 0 30px;
  margin: 0 300px;
  opacity: 0.7;
  overflow: hidden;
}

.portfolioBio {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Hind", sans-serif;
  padding: 0 5px;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

/* Excluding anything larger than a height of 900 pixels (iPads and other tablets) */
@media screen and (max-width: 1280px) {
  .headShotImage {
    width: 40vw;
  }
  .bioBackground {
    margin: 0 3vw;
  }
}

/* Exclusive query just for iPads and other tablets */
@media screen and (max-width: 1280px) and (min-height: 1000px) {
  .headShotImage {
    width: 55vw;
  }
  .bioBackground {
    margin: 0 6vw;
  }
  .portfolioBio {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 922px) {
  .headShotImage {
    width: 50vw;
  }
  .bioBackground {
    margin: 0 3vw;
  }
  .portfolioBio {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 922px) and (min-height: 1000px) {
  .headShotImage {
    width: 55vw;
  }
  .bioBackground {
    margin: 0 4vw;
  }
  .portfolioBio {
    font-size: 3.2vw;
  }
}

@media screen and (min-width: 750px) and (max-height: 750px) {
  .aboutBody {
    height: 100%;
  }
}

@media screen and (max-width: 710px) {
  .portfolioBio {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 500px) {
  .portfolioBio {
    font-size: 15px;
  }
}
