/* ===== */
/* ABOUT */
/* ===== */

.headShotImage {
  width: 500px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.groupHeaders {
  font-size: 35px;
  padding-left: 22px;
  background-color: black;
  color: white;
  text-align: left;
  font-family: "Abel", sans-serif;
}

.demoPassLinks,
.demoPassLinks:hover {
  color: grey;
  font-weight: bold;
}

.aboutMeSet {
  margin-bottom: 6px;
}

.aboutBody {
  background-image: url("../../images/background.jpg") !important;
  width: 100%;
  height: calc(100vh - 48px);
  overflow: hidden;
  padding: 20px 2px;
}

.bioBackground {
  background-color: black;
  border-radius: 10px;
  padding: 0 40px;
  margin: 0 13vw;
  opacity: 0.7;
  overflow: hidden;
}

.portfolioBio {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Hind", sans-serif;
  padding: 0 5px;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 503px) {
  .headShotImage {
    width: 85%;
  }
}

@media screen and (max-width: 922px) {
  .aboutBody {
    height: 100%;
  }
  .portfolioBio {
    font-size: 1px;
  }
  .bioBackground {
    margin: 0 3vw;
  }
}

@media screen and (max-width: 600px) {
  .portfolioBio {
    font-size: 16px;
  }
}
