/* ===== */
/* ABOUT */
/* ===== */

.headShotImage {
  width: 500px;
  border-radius: 100%;
}

.groupHeaders {
  font-size: 35px;
  padding-left: 22px;
  margin: 25px 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: left;
  font-family: "Abel", sans-serif;
}

.aboutMeSet {
  margin-bottom: 6px;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBody {
  background-image: url("../../images/backgrounds/background.jpg") !important;
  height: calc(100vh - 48px);
  padding: 5px 0px;
}

.bioBackground {
  max-width: 650px;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolioBio {
  color: white;
  margin: 0px;
  font-size: 20px;
  text-align: center;
  font-family: "Hind", sans-serif;
  padding: 0 5px;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

/* Excluding anything larger than a height of 900 pixels (iPads and other tablets) */
@media screen and (max-width: 1280px) {
  .headShotImage {
    width: 40vw;
  }
}

/* Exclusive query just for iPads and other tablets */
@media screen and (max-width: 1280px) and (min-height: 1000px) {
  .headShotImage {
    width: 55vw;
  }
  .portfolioBio {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 922px) {
  .headShotImage {
    width: 50vw;
  }
  .portfolioBio {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 922px) and (min-height: 1000px) {
  .headShotImage {
    width: 55vw;
  }
  .portfolioBio {
    font-size: 3.2vw;
  }
}

@media screen and (max-width: 710px) {
  .portfolioBio {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 500px) {
  .portfolioBio {
    font-size: 15px;
  }
  .aboutMeSet {
    height: 60%;
  }
}

@media screen and (orientation: landscape) and (max-height: 440px) {
  .groupHeaders {
    margin: 10px 0px;
  }
  .headShotImage {
    width: 21vw;
  }
  .bioBackground {
    max-width: 250px;
    padding: 15px;
  }
  .portfolioBio {
    font-size: 1.6vw;
  }
}

@media screen and (min-width: 0px) and (max-width: 549px),
  screen and (max-width: 1474px) and (min-width: 750px),
  screen and (min-width: 1920px) {
  .bioWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
