/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Abel|Hind|Roboto");

/* ======= */
/* GENERAL */
/* ======= */

* {
  box-sizing: border-box;
}

@viewport {
  orientation: portrait;
}

html {
  overflow: hidden;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) and (max-height: 550px) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

body {
  background: black;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.parent {
  height: 100vh - 48px;
}

section {
  height: calc(100vh - 48px);
  position: relative;
}
