/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Abel|Hind|Roboto");

/* ======= */
/* GENERAL */
/* ======= */

* {
  box-sizing: border-box;
}

body {
  background: black url("../images/loadingWheel.gif") 47.5vw 43vh no-repeat;
  background-size: 70px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  body {
    background: black url("../images/loadingWheel.gif") 45vw 43vh no-repeat;
    background-size: 70px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background: black url("../images/loadingWheel.gif") 43.5vw 43vh no-repeat;
    background-size: 70px;
  }
}
