/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Abel|Hind");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/* ======= */
/* GENERAL */
/* ======= */

* {
  box-sizing: border-box;
}

/* =============== */
/* Arrow Animation */
/* =============== */

.arrow {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #eaf2f2;
  border-right: 5px solid #eaf2f2;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.7s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* ============== */
/* MENU ANIMATION */
/* ============== */

.tcon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.tcon > * {
  display: block;
}
.tcon:hover,
.tcon:focus {
  outline: none;
}
.tcon::-moz-focus-inner {
  border: 0;
}

.tcon-menu__lines {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  position: relative;
}
.tcon-menu__lines::before,
.tcon-menu__lines::after {
  display: inline-block;
  height: 5.71429px;
  width: 40px;
  border-radius: 2.85714px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform-origin: 2.85714px center;
  transform-origin: 2.85714px center;
  width: 100%;
}
.tcon-menu__lines::before {
  top: 10px;
}
.tcon-menu__lines::after {
  top: -10px;
}
.tcon-transform .tcon-menu__lines {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.tcon-menu--xbutterfly {
  width: auto;
}
.tcon-menu--xbutterfly .tcon-menu__lines::before,
.tcon-menu--xbutterfly .tcon-menu__lines::after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease,
    -webkit-transform 0.3s ease;
}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {
  background: transparent;
}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
  top: 0;
  -webkit-transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease,
    -webkit-transform 0.3s 0.5s ease;
  width: 40px;
}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.tcon-visuallyhidden:active,
.tcon-visuallyhidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* ====== */
/* HEADER */
/* ====== */

#headerWithEdging {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.headerEdging {
  background-color: #151515;
  height: 3px;
  width: 100%;
}

.header {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/cyberspace-coding-background-motion-graphic_btepqf7wn__F0000.png");
  font-family: "Abel", sans-serif;
  padding: 15px 0;
  transition: all 1s ease !important;
}

#nameNav {
  font-size: 30px;
  font-family: "Abel", sans-serif;
  padding: 2px 6px;
  background-color: white;
  color: black;
  transition: all 1s ease;
}

.nameNavMoved {
  background-color: black !important;
  color: white !important;
  transition: all 1s ease;
}

.changedHeaderColor {
  background: linear-gradient(to right, rgb(191, 194, 196, 0), rgb(78, 67, 92)),
    linear-gradient(to bottom, rgba(68, 133, 123, 0.708), rgb(94, 109, 86, 0.1));
  filter: drop-shadow(16px 16px 20px black);
  transition: all 1s ease !important;
  opacity: 0.98;
}

.navSubObjects {
  padding: 2px;
  font-size: 24px;
  transition: all 1s ease;
}

.navSubObjectsMoved {
  color: black !important;
  transition: all 1s ease;
}

.navSubObjectsHover:hover {
  color: gray !important;
  transition: all 0.1s ease;
}

.navSubObjectsMovedHover:hover {
  color: white !important;
  transition: all 0.1s ease;
}

.navbar-toggler {
  font-size: 8px;
  font-weight: bold;
}

/* ===== */
/* ABOUT */
/* ===== */

.headShotImage {
  width: 500px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.groupHeaders {
  font-size: 35px;
  background-color: black;
  color: white;
  text-align: left;
  font-family: "Abel", sans-serif;
}

.demoPassLinks,
.demoPassLinks:hover {
  color: black;
  font-weight: bold;
}

.aboutMeSet {
  margin-bottom: 6px;
}

.aboutBody {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/cyberspace-coding-background-motion-graphic_btepqf7wn__F0000.png") !important;
  background-position: 0px -70px;
  width: 100%;
  overflow: hidden;
  padding: 20px 2px;
}

.projectsBody {
  padding: 10px 0px;
  background-color: rgb(243, 243, 243);
}

#projectsBodyPad {
  padding: 0px 15px;
}

#paddingDivider {
  padding: 0px 4px;
  color: black;
}

.bioBackground {
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
  overflow: hidden;
}

.portfolioBio {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Hind", sans-serif;
  padding: 0 5px;
}

.hiddenImage {
  overflow: hidden;
}

.projectOpaqueBackground {
  padding: 30px 0px;
  margin: 15px 0px;
  height: 100%;
  background: linear-gradient(to right, rgba(206, 222, 232, 0), rgb(17, 7, 29)),
    linear-gradient(to bottom, rgb(191, 194, 196, 0), rgb(75, 71, 80));
  opacity: 0.8;
}

u {
  color: black;
  font-weight: bold;
}

img.repoImages {
  width: 68%;
  height: auto;
  display: block;
  margin: 40px auto 0px auto;
  box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.75);
}

.documentsBody {
  text-align: center;
  margin-bottom: 25px;
}

.repoUrlDiv {
  text-align: center;
  padding: 10px 0 0 0;
  margin-bottom: 5px;
}

.repoBody > .col-6 {
  padding: 20px 0;
  background-color: rgb(200, 200, 200, 0.25);
}

.repoUrlLinks {
  text-decoration: none;
  -webkit-text-stroke: 0.9px white;
  color: black;
  border-radius: 11%;
  padding: 0 3px;
  font-size: 27px;
}

.repoUrlLinksHover:hover {
  color: rgb(164, 194, 187);
  text-decoration: none;
}

a#noDecoration {
  text-decoration: none;
}

.projectRole {
  font-size: 19px;
  color: white;
  -webkit-text-stroke: 0.1px black;
}

.shortBio {
  font-size: 14px;
  color: white;
  -webkit-text-stroke: 0.1px black;
}

a > span:hover {
  text-decoration: none;
}

/* ====== */
/* FOOTER */
/* ====== */

.footerFormat {
  padding: 60px 0px;
  background-color: black;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.noDecoration,
.noDecoration:hover {
  color: white;
  text-decoration: none;
}

.footerNoLink {
  color: grey;
}

.contactMe {
  font-size: 40px;
  font-weight: bold;
}

.arrowButton {
  transform: rotate(180deg);
}

.arrowButton:hover + #backToTopText {
  color: #40394a;
}

.copyrightDiv {
  margin-top: 50px;
}

footer {
  font-size: 15px;
  padding: 3px 0;
  text-align: center;
}

/* =============
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 503px) {
  .headShotImage {
    width: 100%;
  }
}
@media screen and (max-width: 381px) {
  img.repoImages {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navSubObjects {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  #navbar-toggler-button {
    display: none;
  }
}
