/* ==== */
/* HOME */
/* ==== */

.homeBody {
  background-size: cover;
  height: calc(100vh - 48px);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.home-title {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  color: white;
  margin: 0px;
  padding: 2.5vw;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.8);
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 925px) {
  .home-title {
    font-size: 65px;
  }
}

@media screen and (max-width: 767px) {
  .home-title {
    font-size: 8vw;
  }
}

/* =============== */
/* Arrow Animation */
/* =============== */

.arrow {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #eaf2f2;
  border-right: 5px solid #eaf2f2;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.7s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 1594px) {
  .home-title {
    width: 60%;
  }
}

@media screen and (max-width: 1304px) {
  .home-title {
    width: 70%;
  }
}

@media screen and (max-width: 1104px) {
  .home-title {
    width: 85%;
  }
}

@media screen and (max-width: 550px) {
  .home-title {
    top: 40%;
  }
  .arrow {
    top: 55%;
  }
}
