/* ==== */
/* HOME */
/* ==== */

.homeBody {
  background-image: url("../../images/deskPhoto.jpg");
  background-size: cover;
  height: calc(100vh - 52px);
  margin-bottom: -12px;
  background-position: 0px -12px;
  background-repeat: no-repeat;
}

.home-title {
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: 40%;
  left: 50%;
  margin-left: -391.5px;
  color: white;
  font-size: 75px;
  text-transform: uppercase;
  padding: 2.37333333vw 2.37333333vw;
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 2%;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 925px) {
  .home-title {
    top: 40%;
    left: 58%;
    font-size: 65px;
  }
}

@media screen and (max-width: 767px) {
  .home-title {
    top: 40%;
    left: 85%;
    margin-left: -75vw;
    font-size: 8vw;
  }
}

/* =============== */
/* Arrow Animation */
/* =============== */

.arrow {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #eaf2f2;
  border-right: 5px solid #eaf2f2;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1.7s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
