/* ====== */
/* HEADER */
/* ====== */

#headerWithEdging {
  height: 48px;
  position: relative;
  top: 0px;
  z-index: 11;
}

#headerBackground {
  position: fixed;
  height: 48px;
  width: 100%;
  top: 0px;
  background-color: black;
}

.headerBody {
  background-color: black !important;
  background-size: cover;
  font-family: "Abel", sans-serif;
  transition: all 1s ease !important;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media screen and (max-width: 1979px) {
  .headerBody {
    background-size: 1963px;
  }
}
