/* ====== */
/* FOOTER */
/* ====== */

.footerBody {
  height: calc(100vh - 48px);
  background-color: rgb(0, 0, 0);
  color: white;
}

.flexBody {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noDecoration,
.noDecoration:hover {
  color: #d3d3d3;
  font-family: "Abel", sans-serif;
  text-decoration: none;
}

.footerNoLink {
  color: lightgrey;
}

.contactMe {
  color: #d3d3d3;
  font-family: "Abel", sans-serif;
  font-weight: bold;
}

#backToTopText {
  color: #2e2b32;
}

.arrowButton:hover + #backToTopText {
  color: white;
}

.arrowButton:hover > .buttonImage {
  content: url("../../images/icons/lightArrowButton.png");
}

.copyrightDiv {
  margin-top: 50px;
}

.iconFooter {
  width: 1.7em;
}

.footerLinesA {
  padding-top: 2px;
}

.footerLinesB {
  padding-top: 5px;
}

footer {
  font-size: 15px;
  padding: 3px 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .resizeFooter {
    font-size: 8px;
  }
  .flexBody {
    height: 80%;
  }
}

@media screen and (max-width: 1280px) and (min-height: 1000px) {
  .resizeFooter {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) and (min-height: 1000px) {
  .resizeFooter {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) and (max-height: 600px) {
  .footerBody {
    height: 100%;
  }
}
